.andrew-photo {
  border-radius: 50%; 
}

body {
  background-color: rgb(32, 32, 32);
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

div.center {
  width: 500px;
  height: 80%;
  background-image: url('images/background4.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 2%;
}

.center {
  text-align: center;
}

.colorText {
  color: rgb(255, 255, 255);
}

p#summary {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background-color {
  background-color: rgba(134, 134, 134, 0.6);
}

.iframe-format {
  border-color: brown;
}

.btn {
    width: 120px;
    height: 30px;
    border-radius: 50px;
    background: #c00647;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.text {
  font-size: 24px;
}
