.andrew-photo {
  border-radius: 50%; 
}

body {
  background-color: rgb(32, 32, 32);
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

div.center {
  width: 500px;
  height: 700px;
  background-image: url('/resources/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.colorText {
  color: rgb(255, 255, 255);
}

p#summary {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.background-color {
  background-color: rgb(0, 0, 0, 0.6);
}


